
@media (prefers-color-scheme: dark){
.scheme {background: #333; color: #fff; }
a{color:#fff;}
}
@media (prefers-color-scheme: light){
.scheme {background: #fff; color: black ;}
a {color: black;}
}
/*
@media (max-width: 800px) {
    #container {
      max-width: 100%;
    }
}
*/
@media (min-width: 800px) {
    #container {
        max-width: 800px;
    }
}
#container {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    height:75vh;
}
a {
    text-decoration: none;
}
h1{
    margin-bottom: 0;
}

nav{
    display: block;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s; 
}
.navigator{
 margin-left:15%;
}

#titleBox{
    font-size: xxx-large;
    margin-top: 5rem;
}

#aboutBox{
    display: block;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
    position: absolute;
    top: 20rem;
}
#resumeBox{
    display: block;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    position: absolute;
    top: 20rem;
}
#contactBox{
    display: block;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    position: absolute;
    top: 20rem;
}
object {
    position: relative;
    width: 20rem;
    height: 26rem;
}